---
const response = await fetch("https://dummyjson.com/products/category/smartphones");
const data = await response.json();
// console.log(data);
---

{data.products.map((prd: any) => (
  <div id="card">
      <div id="nameProd">
        <h2>{prd.title}</h2>
      </div>
      <div id="descripcionProd">  
        <p>{prd.description}</p>
      </div>
      <div id="imagenDiv">
        <img id="imageProd" src={prd.images[0]} alt={prd.title} />
      </div>
      <button class="nav-toggle" id="navToggle"> Comprar </button>
      
  </div>
))}

<style>

    #card {
      display: flex;
      flex-direction:column; 
      background-color: #E6E6FA;
      border-radius: 10px;
      text-align: center;
      border: #9ab0c2 solid 1px;
      box-shadow: 4px 4px 8px 4px rgba(10, 96, 230, 0.2),0 6px 20px 0 rgba(45, 18, 18, 0.19);
    }
    #nameProd {
      padding: 10px;
      height: 3em;
      margin: 1em;
    }
    #descripcionProd {
      padding: 10px;
    }

    #imagenDiv{
      align-items: stretch;
    }
    #imageProd {
      height: 260px;
    }

    .nav-toggle {
        background-color: #e7653e; 
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: auto
    }

    .nav-toggle:hover {
        background-color: #e64a19; /* Color más oscuro al pasar el cursor */
        transform: scale(1.05); /* Efecto sutil de zoom */
    }
        

</style>