---
// SelectCategorias.astro
let urlAPI = "https://dummyjson.com/products/category-list";
const response = await fetch(urlAPI);
const categorias = await response.json();

const categoriaSeleccionada = Astro.url.searchParams.get("categoria") ?? "";
---
<!-- 
Probando funciones de cliente -->
<!-- <select id="categoriasList">
  {data.map((cat:any) => (
    <option value={cat}>{cat}</option>
  ))}
</select> -->

<!-- <script type="module" client:load>
  const select = document.getElementById("categoriasList");
  select.addEventListener("change", (event) => {
    const seleccion = event.target.value;
    console.log("Categoría seleccionada:", seleccion);
    // lista_cards();
  });
</script> -->